div,body {
	padding:0;
	margin:0;
}

div#log {
	margin: 0 auto;
	width:300px;	
}

div#log p {
	width:100%;
	margin: 0; 
	padding: 0;
}

div#log p .error {
	color: red;
	float:right;
}
div#console {
	width:100%;
	background-color: black;
	color: white;
	min-height: 100px;
	position:absolute;
	bottom:0;
	max-height:400px;
	overflow:scroll;
}

div#console p {
	width:100%;
	margin: 0; 
	padding: 0;
}

div#console p.constant {
	margin-left: 20px;
}
div#console p.constant span.value {
	margin-left: 20px;
}
